#app-login {
    position: relative;
    height: 90vh;
}

#external-resources {
    display: none;
}

#main-block {
    margin: 0;
    padding: 0;
}

#viewer {
    position: relative;
    width: 100%;
    height: 80vh;
    margin-bottom: 2em;
}

input {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    background: none;
    border: 0.1em solid black;
    height: 1.5em;
    min-width: 1em;
    padding: 0.2em;
}

input.checkbox {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    background: none;
    border: none;
    outline: black solid 0.1em;
    outline-offset: 0.2em;
    width: 1em;
    height: 1em;
}

input.checkbox:checked {
    background-color: black;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    background: none;
    border: 0.1em solid black;
    height: 2.0em;
    padding: 0.2em;
}

textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    border: 0.1em solid black;
}

.adv-param-field-grid {
    display: grid;
    grid-template-columns: 12em 30em auto;
    margin-top: 0.6em;
}

.bold {
    font-weight: bold;
}

.centered-text {
    margin-top: auto;
    margin-bottom: auto;
}

.centered-horizontal {
    margin-left: auto;
    margin-right: auto;
}

.error-message {
    color: #ff0000;
}

.example-items-container {
    display: grid;
    grid-template-columns: 12em auto 6em;
    margin-top: 1em;
    margin-bottom: 1em;
}

@media screen and (min-width: 60em) {
    .example-list-container {
        min-width: 60em;
        max-width: 50vw;
    }
}

@media screen and (max-width: 60em) {
    .example-list-container {
        min-width: 60em;
    }
}

.fading-text-invisible {
    opacity: 0;
    transition: opacity 1.0s;
}

.fading-text-visible {
    opacity: 1;
    transition: opacity 0.1s;
}

input.fit-width-lineedit {
    margin: 0.2em;
    width: calc(100% - 0.8em);
}

.form-field-input-above {
    width: 100%;
}

.form-field-label-vcenter {
    display: table-cell;
    vertical-align: middle;
}

.form-field-left-container-flex {
    display: flex;
    width: 100%;
}

.form-field-input-left {
    flex: 1;
    margin: auto auto auto 0.6em;
}

.green {
    color: green;
}

.inlined {
    display: inline-block;
}

.job-controls-btns {
    display: flex;
    margin: 0 -0.2em;
    width: 100%;
}

.job-item {
    display: grid;
    grid-template-columns: auto 6em 12em 6em 6em 6em;
    margin: 0.2em 0 0.2em 0;
}

.job-items-container {
    margin-top: 1em;
    margin-bottom: 1em;
}

@media screen and (min-width: 60em) {
    .job-list-container {
        min-width: 60em;
        max-width: 50vw;
    }
}

@media screen and (max-width: 60em) {
    .job-list-container {
        min-width: 60em;
    }
}

.job-runner-container {
    display: grid;
    grid-template-columns: auto auto;
}

.job-status {
    display: grid;
    grid-template-columns: 6em auto;
}

.labeled-field {
    margin: 0.1em 0.4em 0.1em 0;
}

.labeled-field-concise {
    margin-bottom: 0.4em;
}

.linkbutton-text {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.login-form-container {
    border: 0.1em solid black;
    margin: auto;
    width: 33%;
    padding: 0.4em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.login-form-caption {
    background-color: #e0e0e0;
    font-size: 16pt;
    padding: 0.4em;
}

.login-form-input {
    padding: 0.4em 0 0.4em 0;
}

.logout-container {
    background-color: #e0e0e0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.main-navbar {
    background-color: #e0e0e0;
    display: flex;
    height: 2em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.mmb-controls {
    margin-left: 0.4em;
    min-width: 55em;
}

.mmb-output {
    height: 30em;
    overflow: scroll;
}

.mol-in-cp-input {
    display: grid;
    grid-template-columns: 8.8em 8.8em 5em 20em auto;
}

.mol-in-cp-added {
    display: grid;
    grid-template-columns: 8.8em 8.8em 5em 20em auto;
    margin-top: 0.6em;
}

.mol-in-dh-input {
    display: grid;
    grid-template-columns: 7em 7em 7em 7em 7em 7em auto;
}

.mol-in-dh-added {
    display: grid;
    grid-template-columns: 7em 7em 7em 7em 7em 7em auto;
    margin-top: 0.6em;
}

.mol-in-bi-input {
    display: grid;
    grid-template-columns: 6em 6em 8em 6em 6em 8em 7em auto;
}

.mol-in-bi-added {
    display: grid;
    grid-template-columns: 6em 6em 8em 6em 6em 8em 7em auto;
    margin-top: 0.6em;
}

.mol-in-ntcs-input {
    display: grid;
    grid-template-columns: 7em 7em 7em 7em auto;
}

.mol-in-ntcs-added {
    display: grid;
    grid-template-columns: 7em 7em 7em 7em auto;
    margin-top: 0.6em;
}

.mol-in-adv-params {
    display: grid;
    grid-template-columns: 12em 30em auto;
    margin-top: 0.6em;
}

.padded {
    padding: 0.2em 0.2em;
}

.pushbutton-add {
    background-color: #007f00;
    color: white;
    height: 3em;
    margin-left: auto;
    width: 3em;
}
.pushbutton-add:hover {
    background-color: #005e00;
}

.pushbutton-common {
    border: 0.1em solid black;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.25s;
}

.pushbutton-chained {
    display: inline-block;
    text-align: center;
    margin: 0.2em;
}

.pushbutton-default {
    margin: 0.2em;
}

.pushbutton-delete {
    background-color: red;
    color: black;
    height: 80%;
    margin: auto 0 auto auto;
    width: 3em;
}
.pushbutton-delete:hover {
    background-color: #e00000;
}

.pushbutton-flex {
    margin: 0 0.2em;
    flex-grow: 1;
}

.pushbutton-clr-default {
    transition: background-color 0.25s;
    color: black;
}

.pushbutton-clr-default-disabled {
    background-color: #e0e0e0;
    color: black;
}

.pushbutton-hclr-default:hover {
    background-color: #e0e0e0;
}
.pushbutton-hclr-green:hover {
    background-color: yellowgreen;
}
.pushbutton-hclr-red:hover {
    background-color: red;
}

.pushbutton-text {
    font-weight: bold;
}

.section {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    border: 0.1em solid grey;
}

.section-caption {
    margin-bottom: 0.2em;
    font-size: 14pt;
    font-weight: bold;
}

.spaced-grid {
    column-gap: 0.4em;
}

.tabbutton-common {
    color: black;
    display: table;
    height: 100%;
    text-align: center;
    transition: background-color 0.25s;
}

.tabbutton-active {
    background-color: #c0c0c0;
}

.tabbutton-inactive {
    background-color: #e0e0e0;
}
.tabbutton-inactive:hover {
    background-color: #e0e0e0;
}

.tabbutton-text-common {
    color: black;
    display: table-cell;
    font-weight: bold;
    height: 100%;
    padding: 0 0.2em 0 0.2em;
    vertical-align: middle;
}

.tabbutton-text-active {
    text-decoration: underline;
    text-decoration-color: black;
}

.tabbutton-text-inactive-highlighted {
    text-decoration: underline;
    text-decoration-color: black;
    transition: 0.25s;
}

.tabbutton-text-inactive {
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: 0.25s;
}

.table-column-header {
    font-weight: bold;
}

.table-item {
    margin: 0.2em 0 0.2em 0;
}

.tabs-bar {
    display: flex;
}

.tooltip-container {
    display: inline-block;
    position: relative;
}
.tooltip-container:hover {
    opacity: 1;
    transition: opacity 0.25s;
    visibility: visible;
}

.tooltip-container .tooltip-common {
    background: none;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    transition: opacity 0.25s;
    visibility: hidden;
    z-index: 2;
}
.tooltip-container:hover .tooltip-common {
    background-color: #e0e0e0;
    box-shadow: 0 0 3px;
    opacity: 1;
    transition: opacity 0.25s;
    visibility: visible;
    z-index: 2;
}

.tooltip-container .tooltip-common::after {
    background-color: #e0e0e0;
    box-shadow: 0 0 3px;
    content: "";
    height: 0.8em;
    position: absolute;
    transform: rotate(45deg);
    width: 0.8em;
    z-index: 1;
}

.tooltip-container .tooltip-above {
    bottom: calc(100% + 0.4em);
}

.tooltip-container .tooltip-above::after {
    left: 0.4em;
    top: calc(100% - 0.4em);
}

.tooltip-container .tooltip-below {
    top: calc(100% + 0.4em);
}

.tooltip-container .tooltip-below::after {
    left: 0.4em;
    top: -0.4em;
}

.tooltip-container .tooltip-left {
    right: calc(100% + 0.8em);
}

.tooltip-container .tooltip-left::after {
    top: 0.4em;
    left: calc(100% - 0.4em);
}

.tooltip-inner {
    background-color: #e0e0e0;
    padding: 0.2em;
    position: relative;
    z-index: 3;
}

.top-panel {
    position: relative;
    width: 100%;
}

.viewer-container {
    margin-right: 0.4em;
    min-width: 35em;
}

.viewer-controls {
    display: flex;
    width: 100%
}
