:root {
    --tiny-font-size: 8pt;
    --small-font-size: 10pt;
    --normal-font-size: 12pt;
}

body {
    font-family: sans-serif;
    font-size: var(--normal-font-size);
}

#app-login {
    position: relative;
    height: 90vh;
}

#external-resources {
    display: none;
}

#main-block {
    margin: 0;
    padding: 0;
}

#main-container {
    min-height: calc(100vh - 3.2em);
    padding-bottom: 2em;
    position: relative;
    top: 0;
    left: 0;
}

#viewer {
    position: relative;
    width: 100%;
    height: 80vh;
    margin-bottom: 2em;
}

.adv-param-field-grid {
    display: grid;
    grid-template-columns: 12em 30em auto;
    margin-top: 0.6em;
}

.bold {
    font-weight: bold;
}

.check-box {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    background: none;
    border: none;
    font-size: var(--normal-font-size);
    margin: auto auto auto 0.3em;
    outline: black solid 0.1em;
    outline-offset: 0.2em;
    width: 1em;
    height: 1em;
}

.check-box:checked {
    background-color: black;
}

.combo-box {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    background: none;
    border: 0.1em solid black;
    border-radius: 0;
    padding: 0.2em 0.8em 0.2em 0.2em;
}

.combo-box-icon {
    background: url(imgs/down_arrow.svg) no-repeat right transparent;
}

@media only screen and (hover: none) {
    .multiple-combo-box-icon {
        background: url(imgs/three_dots.svg) no-repeat right transparent;
    }
}

.centered-text {
    margin-top: auto;
    margin-bottom: auto;
}

.centered-horizontal {
    margin-left: auto;
    margin-right: auto;
}

.cookie-notice {
    border: 0.1em solid black;
    left: 50%;
    max-width: 35em;
    padding: 0.4em;
    position: absolute;
    top: 66%;
    transform: translateX(-50%);
    width: 33%;
}

.error-message {
    color: #ff0000;
}

.example-items-container {
    display: grid;
    grid-template-columns: 12em auto 6em;
    margin-top: 1em;
    margin-bottom: 1em;
}

@media screen and (min-width: 60em) {
    .example-list-container {
        min-width: 60em;
        max-width: 50vw;
    }
}

@media screen and (max-width: 60em) {
    .example-list-container {
        min-width: 60em;
    }
}

.fading-text-invisible {
    opacity: 0;
    transition: opacity 1.0s;
}

.fading-text-visible {
    opacity: 1;
    transition: opacity 0.1s;
}

.fit-width-input {
    width: 100%;
}

.footer {
    align-items: center;
    background-color: #e0e0e0;
    bottom: 0;
    display: flex;
    height: 2em;
    position: absolute;
    width: 100%;
}
.form-field-label-container {
    display: flex;
}

.form-field-above-container {
    display: flex;
    flex-direction: column;
}

.form-field-above-item {
    display: grid;
    grid-template-columns: 0.9fr;
}

.form-field-left-container {
    align-items: center;
    column-gap: 0.4em;
    display: flex;
}

.form-field-left-container {
    align-items: center;
    column-gap: 0.4em;
    display: flex;
}

.green {
    color: green;
}

.inlined {
    display: inline-block;
}

.job-controls-btns {
    width: 100%;
}

.job-item {
    display: grid;
    grid-template-columns: auto 6em 12em 6em 6em 6em;
    margin: 0.2em 0 0.2em 0;
}

.job-items-container {
    margin-top: 1em;
    margin-bottom: 1em;
}

@media screen and (min-width: 60em) {
    .job-list-container {
        min-width: 60em;
        max-width: 50vw;
    }
}

@media screen and (max-width: 60em) {
    .job-list-container {
        min-width: 60em;
    }
}

.job-runner-container {
    display: grid;
    grid-template-columns: auto auto;
}

.job-status {
    display: grid;
    grid-template-columns: 6em auto;
}

.labeled-field {
    margin: 0.1em 0.4em 0.1em 0;
}

.labeled-field-concise {
    margin-bottom: 0.4em;
}

.line-edit {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    background: none;
    border: 0.1em solid black;
    border-radius: 0;
    min-width: 1em;
    padding: 0.2em;
}

.linkbutton-text {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.login-form-container {
    border: 0.1em solid black;
    margin: auto;
    max-width: 35em;
    width: 33%;
    padding: 0.4em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.login-form-caption {
    background-color: #e0e0e0;
    font-size: 16pt;
    padding: 0.4em;
}

.login-form-input {
    padding: 0.4em 0 0.4em 0;
}

.login-form-version-info {
    padding: 0.2em;
    position: absolute;
    color: #404040;
    font-size: 8pt;
    right: 0.8em;
    top: 0.4em;
}

.logout-container {
    align-items: center;
    background-color: #e0e0e0;
    display: flex;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.main-navbar {
    background-color: #e0e0e0;
    display: flex;
    height: 2em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.mmb-controls {
    margin-left: 0.4em;
    min-width: 55em;
}

.mmb-output {
    font-size: var(--small-font-size);
    height: 30em;
    overflow: scroll;
}

.mol-in-cp-input {
    display: grid;
    grid-template-columns: 8.8em 8.8em 5em 1fr auto;
}

.mol-in-cp-added {
    display: grid;
    grid-template-columns: 8.8em 8.8em 5em 20em auto;
    margin-top: 0.6em;
}

.mol-in-dh-input {
    display: grid;
    grid-template-columns: 7em 7em 7em 7em 7em 7em auto;
}

.mol-in-dh-added {
    display: grid;
    grid-template-columns: 7em 7em 7em 7em 7em 7em auto;
    margin-top: 0.6em;
}

.mol-in-bi-input {
    display: grid;
    grid-template-columns: 6em 6em 8em 6em 6em 8em 7em auto;
}

.mol-in-bi-added {
    display: grid;
    grid-template-columns: 6em 6em 8em 6em 6em 8em 7em auto;
    margin-top: 0.6em;
}

.mol-in-ntcs-input {
    display: grid;
    grid-template-columns: 7em 7em 7em 7em auto;
}

.mol-in-ntcs-added {
    display: grid;
    grid-template-columns: 7em 7em 7em 7em auto;
    margin-top: 0.6em;
}

.mol-in-adv-params {
    display: grid;
    grid-template-columns: 12em 30em auto;
    margin-top: 0.6em;
}

.mol-in-gp-input {
    display: grid;
    row-gap: 0.4em;
}

.padded {
    padding: 0.2em 0.2em;
}

.pushbutton-add {
    align-items: center;
    background-color: #007f00;
    color: white;
    display: flex;
    height: 3em;
    justify-content: center;
    margin-left: auto;
    width: 3em;
}
.pushbutton-add:hover {
    background-color: #005e00;
}

.pushbutton-common {
    align-items: center;
    border: 0.1em solid black;
    display: flex;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.25s;
}

.pushbutton-chained {
    margin: 0.2em;
}

.pushbutton-default {
    margin: 0.2em;
}

.pushbutton-delete {
    align-items: center;
    background-color: red;
    color: black;
    display: flex;
    height: 80%;
    justify-content: center;
    margin: auto 0 auto auto;
    width: 3em;
}
.pushbutton-delete:hover {
    background-color: #e00000;
}

.pushbutton-flex {
    margin: 0;
    flex-grow: 1;
}

.pushbutton-flex-container {
    display: flex;
    column-gap: 0.4em;
}

.pushbutton-clr-default {
    transition: background-color 0.25s;
    color: black;
}

.pushbutton-clr-default-disabled {
    background-color: #e0e0e0;
    color: black;
}

.pushbutton-hclr-default:hover {
    background-color: #e0e0e0;
}
.pushbutton-hclr-green:hover {
    background-color: yellowgreen;
}
.pushbutton-hclr-red:hover {
    background-color: red;
}

.pushbutton-text {
    font-weight: bold;
}

.raw-commands-container {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

.section {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    border: 0.1em solid grey;
}

.section-caption {
    margin-bottom: 0.2em;
    font-size: 14pt;
    font-weight: bold;
}

.spaced-grid {
    column-gap: 0.4em;
}

.tabbutton-common {
    color: black;
    display: table;
    height: 100%;
    text-align: center;
    transition: background-color 0.25s;
}

.tabbutton-active {
    background-color: #c0c0c0;
}

.tabbutton-inactive {
    background-color: #e0e0e0;
}
.tabbutton-inactive:hover {
    background-color: #e0e0e0;
}

.tabbutton-text-common {
    color: black;
    display: table-cell;
    font-weight: bold;
    height: 100%;
    padding: 0 0.2em 0 0.2em;
    vertical-align: middle;
}

.tabbutton-text-active {
    text-decoration: underline;
    text-decoration-color: black;
}

.tabbutton-text-inactive-highlighted {
    text-decoration: underline;
    text-decoration-color: black;
    transition: 0.25s;
}

.tabbutton-text-inactive {
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: 0.25s;
}

.table-column-header {
    font-weight: bold;
}

.table-item {
    margin: 0.2em 0 0.2em 0;
}

.tabs-bar {
    display: flex;
}

.text-area {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    border: 0.1em solid black;
    border-radius: 0;
}

.text-area-horiz-resize {
    resize: horizontal;
}

.text-area-vert-resize {
    resize: vertical;
}

.text-area-no-resize {
    resize: none;
}

.tooltip-container {
    position: relative;
}
.tooltip-container:hover {
    opacity: 1;
    transition: opacity 0.25s;
    visibility: visible;
}

.tooltip-container .tooltip-common {
    background: none;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    transition: opacity 0.25s;
    visibility: hidden;
    z-index: 2;
}
.tooltip-container:hover .tooltip-common {
    background-color: #e0e0e0;
    box-shadow: 0 0 3px;
    opacity: 1;
    transition: opacity 0.25s;
    visibility: visible;
    z-index: 2;
}

.tooltip-container .tooltip-common::after {
    background-color: #e0e0e0;
    box-shadow: 0 0 3px;
    content: "";
    height: 0.8em;
    position: absolute;
    transform: rotate(45deg);
    width: 0.8em;
    z-index: 1;
}

.tooltip-container .tooltip-above {
    bottom: calc(100% + 0.4em);
}

.tooltip-container .tooltip-above::after {
    left: 0.4em;
    top: calc(100% - 0.4em);
}

.tooltip-container .tooltip-below {
    top: calc(100% + 0.4em);
}

.tooltip-container .tooltip-below::after {
    left: 0.4em;
    top: -0.4em;
}

.tooltip-container .tooltip-left {
    right: calc(100% + 0.8em);
}

.tooltip-container .tooltip-left::after {
    top: 0.4em;
    left: calc(100% - 0.4em);
}

.tooltip-container-question-mark-text-common {
    color: #646f9d;
    padding-left: 0.2em;
}

.tooltip-container-question-mark-text {
    font-size: var(--small-font-size);
}

.tooltip-inner {
    background-color: #e0e0e0;
    padding: 0.2em;
    position: relative;
    z-index: 3;
}

.top-panel {
    position: relative;
    width: 100%;
}

.ui-mode-container {
    margin-bottom: 0.4em;
}

.verbatim {
    font-size: var(--small-font-size);
}

.version-info-text {
    color: #404040;
    font-size: var(--tiny-font-size);
    margin: auto 0.2em auto 0.2em;
}

.viewer-container {
    margin-right: 0.4em;
    min-width: 35em;
}

.viewer-buttons {
    margin-bottom: 1em;
    width: 100%;
}

.viewer-setup {
    column-gap: 1em;
    display: flex;
    width: 100%;
}

.warning-message {
    color: #e18505;
    font-size: var(--normal-font-size);
}
